
<div style= "width: 500px; padding: 30px 30px; margin: 0px auto; border-radius: 4px; text-align:center;">
	<h2>Welcome to Word Longest Game (WLG)</h2>

<img src="../app/assets/images/logo.jpg" alt="Logo" width="200" height="200" style= "border-radius:50%;">
	<h3>Instructions</h3>
	<p>You will be provided with a rack of random letters from the alphabet to build the longest word game.</p>

	<p>1. Your word MUST be made from the rack </p>
	<p>2. Your word MUST be a valid English word </p>

	<div style= "width: 100%; padding: 12px 20px; margin: 8px 0; color: white; background-color: lightgray; border-radius: 4px; text-decoration: none; text-align: center;">
		<%= link_to "Start", new_path %>
	</div>
</div>