<div style= "width: 500px; padding: 30px 30px; margin: 0px auto; border-radius: 4px; text-align:center;">
	<h1>Results</h1>

	<div >
		<div>
			<%= @response %>
		</div>
	</div>

	<div style= "width: 100%; padding: 12px 20px; margin: 8px 0; color: white; background-color: orange; border-radius: 4px; text-decoration: none; text-align: center;">
		<%= link_to "Play again", new_path %>
	</div>
</div>

